<h1>About this page</h1>
<span style="font-weight: bold";>Naomi Isozaki</span>
<ul>
  <li>Love:Finn Design</li><img width="250" src="http://localhost:3000/marimekko.png">
  <li>Weak:Drawing</li>
  <li>3つめの項目</li>
</ul>
